
.timeline {
  margin-top: 20px;
  h2 {
    color: #444444;
    font-size: 40px;
    text-align: center;
  }

  h5 {
    margin-bottom: 10px !important;
  }
  
  :global(.timeline) {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  :global(.entry .title:before) {
    z-index: 50;
  }
}