.Navbar {
  min-height: 60px;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  position: fixed;
    top: 0;
    left: 0;
  .content {
    padding-left: 50px;
    padding-right: 50px;
    width: calc(100% - 100px);
  }
  &.white {
    background-color: white;
  }
}