
.clientSection {
  width: 100%;
  background-color: lighten(lightgrey, 15%);
  padding: 20px 10%;
  text-align: center;
  h2 {
    font-weight: 400;
    margin: 10px;
  }
  img {
    width: 200px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
  }
}