.Sidebar {
  min-height: 100%;
  width: 400px;
  background-color: darken(white, 0.3);
  box-shadow: 12px ;
  position: fixed;
    top: 0;
    right: -400px;
  transition: all 0.5s;
  box-shadow: 12px 6px 6px 12px black;
  padding: 40px;
  padding-top: 70px;
  a {
    display: block;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0;
    &:hover {
      color: #e86971!important;
    }
  }
  &.on {
    right: 0px;
  }
}

@media (max-width: 420px) {
  .Sidebar {
    width: 90%;
  }
}

.SidebarOverlay {
  position: fixed;
    top: 0;
    left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: black;
  transition: opacity 0.5s;
  &.on {
    opacity: 50%;
    width: 100%;
    height: 100%;
  }
}